<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div>
<%myCollection.forEach(val=>{%>

<div>
<h2><%=val.name%></h2>
<h3><%=val.level%></h3>
<img src="<%=val.img%>" alt="">


</div>
<%})%>


    </div>
</body>
</html>